.userinfo {
    float: right;
    background-color: #aaf;
    line-height: 1ex;
    padding: 0.5ex;
}
.aboutme.post {
    padding: 1ex;
    background-color: #ccc;
}
.tag{
    text-align: right;
}
.tag.post {
    padding: 3px;
    background-color: #ff7;
}
.question.post {
}
.answer.post {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
}
.question.body {
    margin-left: 4ex;
}
.answer.body {
    margin-left: 5ex;
}
.scoreaccepted {
    background-color: #afa;
    color: #070;
    padding: 1ex;
    margin-right: -1ex;
    float: left;
    position: relative;top:5ex;left:-2ex;
}
.score {
    background-color: #afa;
    color: #070;
    padding: 1ex;
    margin-right: -1ex;
    float: left;
}
.date {
    color: #bbb;
}
.postdate {
    float: right;
    padding: 6px;
    color: #bbb;
}
.user {
    float: right;
    padding: 4px;
    background-color: #aaf;
    border: 1px solid #bbb;
}
.floatleft {
    float: left;
    padding: 5px;
}
.comment {
    color: #888;
}
.comment.container {
    margin-left: 8ex;
    padding: 7px;
    border-color: #009;
}
a{/*all external links are in italic font*/
    font-style: italic;
}
.internallink{/*internal links are in italic font*/
    font-style: normal;
}
.answerlink{
    float: right;
}
code{
    padding: 2px;
    background: #ccc;
}
kbd{
    padding: 4px;
    background: #cc0;
}
li{
    color: #007;
}
img{
    background: #f77;
    border: 2px dashed #f00;
}