.badgeinfo {
    float: right;
    background-color: #aaf;
    line-height: 1ex;
    padding: 0.5ex;
}
.userinfo {
    float: right;
    background-color: #bbf;
    line-height: 1ex;
    padding: 0.5ex;
}
.aboutme.post {
    padding: 1ex;
    background-color: #ccf;
}
.tag {
    padding: 3px;
    background-color: #ff7;
}
.post .tag {
    float: left;
    margin-right: 4px;
}
.question.post {
}
.answer.post {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
}
.tagpage .post {
}
.body {
    background-color: #eee;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 5ex;
}
.scoreaccepted {
    background-color: #afa;
    color: #070;
    padding: 1ex;
    margin-right: -5ex;
    float: left;
    position: relative;top:5ex;left:-5ex;
}
.score {
    background-color: #afa;
    color: #070;
    padding: 1ex;
    margin-right: -5ex;
    float: left;
    position: relative;left:-5ex;
}
.closed {
    color: #f44;
}
.date {
    color: #bbb;
}
.user {
    float: right;
    padding: 4px;
    margin-left: 1ex;
    background-color: #ccf;
    border: 1px solid #bbb;
}
.reputation {
    color: #000;
}
.class1:before {
    content: "•";
    color: #ffe500;
}
.class1 {
    margin-left: 0.5ex;
}
.class2:before {
    content: "•";
    color: #bcb89a;
}
.class2 {
    margin-left: 0.5ex;
}
.class3:before {
    content: "•";
    color: #b96f00;
}
.class3 {
    margin-left: 0.5ex;
}
.user .date {
    margin-left: 0.5ex;
    float: right;
    color: #000;
    font-size-adjust:0.5;
}
.user .time {
    margin-left: 0.5ex;
    float: right;
    color: #000;
    font-size-adjust:0.5;
}
.floatleft {
    float: left;
    padding: 5px;
}
.comment {
    color: #888;
}
.comment.post {
    margin-left: 8ex;
    padding: 7px;
    border-color: #009;
}
.comment.post .score {
    background-color: #cfa;
    color: #470;
    margin-right: -3ex;
    position:relative;left:-3.5ex;
}
.comment .user {
    background-color: #ccd;
}
a {/*all external links are in italic font*/
    font-style: italic;
}
.internallink {/*internal links are in normal font*/
    font-style: normal;
}
.linkheader .internallink {
    line-height: 2em;
    margin-right: 1em;
    font-style: normal;
}
.index .internallink {
    line-height: 2em;
    margin-right: 1em;
    background-color: #eee;
    border: 1px solid black;
    font-style: normal;
}
.comment .internallink {
    color: #888;
}
.answerlink {
    float: right;
}
.linkheader {
    background: #ccc;
    padding: 2px;
}
blockquote {
    background: #cdc;
}
code {
    padding: 2px;
    background: #ccc;
    display: inline-block;
}
kbd {
    padding: 1px;
    color: #111;
    background: #fff;
    border: 1px solid #000;
    border-radius: 3px;
}
/*li {
    color: #007;
}*/
img {
    background: #fbb;
    border: 2px dashed #f00;
}